* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;

  .navbar {
    margin-bottom: 40px;
  }

  .container {
    .row {
      #blog_posts {
        .card {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

          &:hover {
            transform: scale(1.03);
            transition: transform 0.2s;
          }
        }
      }
    }
  }

  footer {
    border-top: 1px solid #e5e5e5;
    width: 100%;
    position: relative;
    bottom: 0;

    .container {
      .row {
        .social-items {
          a {
            .fab {
              font-size: 20px;
              transition: all 0.3s ease-in-out;

              &:hover {
                text-decoration: none;
                color: #007bff; /* This is the default Bootstrap primary color. Adjust if needed. */
              }
            }
          }
        }
      }
    }
  }
}
